<ol class="breadcrumb">
  <li class="active">我的桌面</li>
</ol>

<div class="row">
   <div class="col-lg-3">
     <div class="panel panel-info">
       <div class="panel-heading">
         <div class="row">
           <div class="col-xs-6">
             <i class="fa fa-comments fa-5x"></i>
           </div>
           <div class="col-xs-6 text-right">
             <p class="announcement-heading">
             	<span class="badge" style="background-color: greep;">0</span>
             </p>
             <p class="announcement-text">待办工单【记录人】</p>
           </div>
         </div>
       </div>
       <a href="#/willHandleWorkorder">
         <div class="panel-footer announcement-bottom">
           <div class="row">
             <div class="col-xs-6">
              		立即处理
             </div>
             <div class="col-xs-6 text-right">
               <i class="fa fa-arrow-circle-right"></i>
             </div>
           </div>
         </div>
       </a>
     </div>
   </div>
   <div class="col-lg-3">
     <div class="panel panel-warning">
       <div class="panel-heading">
         <div class="row">
           <div class="col-xs-6">
             <i class="fa fa-check fa-5x"></i>
           </div>
           <div class="col-xs-6 text-right">
             <p class="announcement-heading">
             	<span class="badge" style="background-color: red;">12</span>
             </p>
             <p class="announcement-text">待审核工单【审核人】</p>
           </div>
         </div>
       </div>
       <a href="#/willAuditWorkorder">
         <div class="panel-footer announcement-bottom">
           <div class="row">
             <div class="col-xs-6">
              	立即处理
             </div>
             <div class="col-xs-6 text-right">
               <i class="fa fa-arrow-circle-right"></i>
             </div>
           </div>
         </div>
       </a>
     </div>
   </div>
   <div class="col-lg-3">
     <div class="panel panel-danger">
       <div class="panel-heading">
         <div class="row">
           <div class="col-xs-6">
             <i class="fa fa-tasks fa-5x"></i>
           </div>
           <div class="col-xs-6 text-right">
             <p class="announcement-heading">
            	<span class="badge" style="background-color: red;">18</span> 
            </p>
             <p class="announcement-text">待转办工单【记录人】</p>
           </div>
         </div>
       </div>
       <a href="#/willTurnWorkorder">
         <div class="panel-footer announcement-bottom">
           <div class="row">
             <div class="col-xs-6">
               	立即处理
             </div>
             <div class="col-xs-6 text-right">
               <i class="fa fa-arrow-circle-right"></i>
             </div>
           </div>
         </div>
       </a>
     </div>
   </div>
   <div class="col-lg-3">
     <div class="panel panel-success">
       <div class="panel-heading">
         <div class="row">
           <div class="col-xs-6">
             <i class="fa fa-comments fa-5x"></i>
           </div>
           <div class="col-xs-6 text-right">
             <p class="announcement-heading">
             	<span class="badge" style="background-color: red;">56</span>
             </p>
             <p class="announcement-text">待办结回复【承办部门、经办人、负责人】</p>
           </div>
         </div>
       </div>
       <a href="#/willResponseWorkorder">
         <div class="panel-footer announcement-bottom">
           <div class="row">
             <div class="col-xs-6">
             	立即处理
             </div>
             <div class="col-xs-6 text-right">
               <i class="fa fa-arrow-circle-right"></i>
             </div>
           </div>
         </div>
       </a>
     </div>
   </div>
   <div class="col-lg-3">
     <div class="panel panel-success">
       <div class="panel-heading">
         <div class="row">
           <div class="col-xs-6">
             <i class="fa fa-comments fa-5x"></i>
           </div>
           <div class="col-xs-6 text-right">
             <p class="announcement-heading">
             	<span class="badge" style="background-color: red;">39</span>
             </p>
             <p class="announcement-text">待立案处罚工单【承办部门、稽查部门】</p>
           </div>
         </div>
       </div>
       <a href="#/willPunishWorkorder">
         <div class="panel-footer announcement-bottom">
           <div class="row">
             <div class="col-xs-6">
             	  立即处理
             </div>
             <div class="col-xs-6 text-right">
               <i class="fa fa-arrow-circle-right"></i>
             </div>
           </div>
         </div>
       </a>
     </div>
   </div>
   <div class="col-lg-3">
     <div class="panel panel-success">
       <div class="panel-heading">
         <div class="row">
           <div class="col-xs-6">
             <i class="fa fa-comments fa-5x"></i>
           </div>
           <div class="col-xs-6 text-right">
             <p class="announcement-heading">
             	<span class="badge" style="background-color: red;">28</span>
             </p>
             <p class="announcement-text">待举办奖励【记录人】</p>
           </div>
         </div>
       </div>
       <a href="#/willRewardWorkorder">
         <div class="panel-footer announcement-bottom">
           <div class="row">
             <div class="col-xs-6">
               	立即处理
             </div>
             <div class="col-xs-6 text-right">
               <i class="fa fa-arrow-circle-right"></i>
             </div>
           </div>
         </div>
       </a>
     </div>
   </div>	          	          
 </div>
      
