<ol class="breadcrumb">
  <li><a href="#">我的桌面</a></li>
  <li class="active">待举办奖励工单</li>
</ol>

<div class="row" style="background-color: white;margin-left: 1px; margin-right: 1px;">
<table class="table table-hover">
	<thead>
		<tr>
			<td class="col-md-1">序号</td>
			<td class="col-md-3">FN</td>
			<td class="col-md-3">LN</td>
			<td class="col-md-3">UN</td>
			<td class="col-md-3">操作</td>
		</tr>
	</thead>
	<tbody>
		<tr class="danger">
			<td>1</td>
			<td>Mark</td>
			<td>Otto</td>
			<td>@mdo</td>
			<td>
				<a href=""><i class="fa fa-pencil-square-o" aria-hidden="true"></i>工单处理</a>
				<a href=""><i class="fa fa-print" aria-hidden="true"></i>预览打印</a>
			</td>
		</tr>
		<tr class="warning">
			<td>1</td>
			<td>Mark</td>
			<td>Otto</td>
			<td>@mdo</td>
			<td>
				<a href=""><i class="fa fa-pencil-square-o" aria-hidden="true"></i>工单处理</a>
				<a href=""><i class="fa fa-print" aria-hidden="true"></i>预览打印</a>
			</td>			
		</tr>
		<tr class="info">
			<td>1</td>
			<td>Mark</td>
			<td>Otto</td>
			<td>@mdo</td>
			<td>
				<a href=""><i class="fa fa-pencil-square-o" aria-hidden="true"></i>工单处理</a>
				<a href=""><i class="fa fa-print" aria-hidden="true"></i>预览打印</a>
			</td>			
		</tr>
		<tr class="active">
			<td>1</td>
			<td>Mark</td>
			<td>Otto</td>
			<td>@mdo</td>
			<td>
				<a href=""><i class="fa fa-pencil-square-o" aria-hidden="true"></i>工单处理</a>
				<a href=""><i class="fa fa-print" aria-hidden="true"></i>预览打印</a>
			</td>			
		</tr>																		
	</tbody>
</table>
     </div>		  		  
