<ol class="breadcrumb">
  <li>工单管理</li>
  <li class="active">归档查询</li>
</ol>

<div class="row" style="background-color: white;margin-left: 1px; margin-right: 1px;">
	<div style="padding-top: 20px; padding-left: 30px; padding-bottom: 10px;">
		<form class="form-inline">
		  <div class="form-group">
		    <label for="exampleInputName2">时间</label>
		    <input class="form-control" data-toggle="datepicker">
		  </div>
	
		  <button type="submit" class="btn btn-primary">查询</button>
		</form>
	</div>
	
	<div style="margin-left: 20px; margin-right: 20px;">
		<table class="table table-hover">
			<thead>
				<tr>
					<td class="col-md-1">序号</td>
					<td class="col-md-3">FN</td>
					<td class="col-md-3">LN</td>
					<td class="col-md-3">UN</td>
				</tr>
			</thead>
			<tbody >
				<tr class="active">
					<td>1</td>
					<td>Mark</td>
					<td>Otto</td>
					<td>@mdo</td>
				</tr>
				<tr class="active">
					<td>1</td>
					<td>Mark</td>
					<td>Otto</td>
					<td>@mdo</td>
				</tr>
				<tr class="active">
					<td>1</td>
					<td>Mark</td>
					<td>Otto</td>
					<td>@mdo</td>
				</tr>
				<tr class="active">
					<td>1</td>
					<td>Mark</td>
					<td>Otto</td>
					<td>@mdo</td>
				</tr>																		
			</tbody>
		</table>
		
		  <div class="pagination" id="paginator" style="margin-left: 400px;"></div>
		
	</div>
</div>

<script type="text/javascript">
	$('[data-toggle="datepicker"]').datepicker({
		autoHide: true,
		format: 'yyyy-mm-dd',
		language: 'zh-CN'
	});
	
    var options = {
        currentPage: 3,
        totalPages: 10,
        itemContainerClass: function (type, page, current) {
            return (page === current) ? "active" : "pointer-cursor";
        }        
    };
    $('#paginator').bootstrapPaginator(options);	
	
</script>		  		  
