<ol class="breadcrumb">
  <li>权限管理</li>
  <li class="active">用户权限管理</li>
</ol>

<div class="row" style="background-color: white;margin-left: 1px; margin-right: 1px;">
	<table class="table table-hover">
		<thead>
			<tr class="info">
				<td class="col-md-1">序号</td>
				<td class="col-md-3">用户名</td>
				<td class="col-md-3">角色</td>
				<td class="col-md-3">操作</td>
			</tr>
		</thead>
		<tbody>
			<tr class="active">
				<td>1</td>
				<td>Mark</td>
				<td>管理员</td>
				<td>
					<a href="#/assignRoles"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>角色分配</a>
					<a href="#/assignPermission"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>权限分配</a>
				</td>			
			</tr>
			<tr class="active">
				<td>1</td>
				<td>Otto</td>
				<td>审核人</td>
				<td>
					<a href="#/assignRoles"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>角色分配</a>
					<a href="#/assignPermission"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>权限分配</a>
				</td>
			</tr>
			<tr class="active">
				<td>1</td>
				<td>Bruce</td>
				<td>承办人</td>
				<td>
					<a href="#/assignRoles"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>角色分配</a>
					<a href="#/assignPermission"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>权限分配</a>
				</td>			
			</tr>
		</tbody>
	</table>
</div>		  		  
